In [34]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
flora_fauna = gpd.read_file('SDM702962/ll_gda94/sde_shape/whole/VIC/FLORAFAUNA1/layer/vba_fauna_grid_1m.shp')

KeyboardInterrupt:

In [ ]:
flora_fauna.head(10)

In [ ]:
len(flora_fauna)

In [ ]:
flora_fauna.VICADVDESC.unique()

In [ ]:
flora_fauna.plot()

In [ ]:
list_fauna = list(flora_fauna.COMM_NAME.unique())

In [ ]:
for i in list_fauna:
    if i is not None and 'red fox' in i.lower():
        print(i)

In [ ]:
flora_fauna[flora_fauna['COMM_NAME']=='Red Fox']

In [ ]:
list_foxes = list(flora_fauna[flora_fauna['COMM_NAME']=='Red Fox'].LAST_YEAR)

In [ ]:
list_foxes.sort(reverse = True)

In [ ]:
list_foxes

In [ ]:
list_years = list(flora_fauna.LAST_YEAR.unique())

In [ ]:
list_years.sort(reverse = True)

In [ ]:
list_years

In [ ]:
flora_fauna.ORIGIN.unique()

In [ ]:
for i in list_fauna:
    if i is not None and 'wallaby' in i.lower():
        print(i)

In [ ]:
wallaby_brush = flora_fauna[flora_fauna['COMM_NAME']=='Brush-tailed Rock-wallaby']

In [ ]:
wallaby_brush

In [ ]:
len(wallaby_brush)

In [ ]:
wallaby_brush.LAST_YEAR.unique()

## SDM706248
E:\datasets_bushfire_flora_fauna\SDM706248\ll_gda94\sde_shape\whole\VIC\FLORAFAUNA1\layer

In [3]:
# import datatable as dt

In [4]:
# flora_fuana_high = gpd.read_file('SDM706248/ll_gda94/sde_shape/whole/VIC/FLORAFAUNA1/layer/vba_fauna25.shp')

In [5]:
# flora_fauna_high.to_excel('flora_fauna_high.xlsx', index = False)

In [6]:
# flora_fuana_high_dt = dt.fread('SDM706248/ll_gda94/sde_shape/whole/VIC/FLORAFAUNA1/layer/vba_fauna25.shp')

In [7]:
import json

In [8]:
import requests

In [10]:
import bs4
import urllib.request

webpage=str(urllib.request.urlopen('https://biocache-ws.ala.org.au/ws/occurrences/search?q=year:2020&fq=class:Mammalia&pageSize=100000').read())
soup = bs4.BeautifulSoup(webpage)

print(soup.get_text())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
# soup.text

In [11]:
import json
with open('data.json', 'w') as f:
    json.dump(soup.text, f)

In [12]:
import json
with open('data.json', 'w') as f:
    json.dump(soup.get_text(), f)

In [13]:
import urllib.request, json 
with urllib.request.urlopen("https://biocache-ws.ala.org.au/ws/occurrences/search?q=year:2020&fq=class:Mammalia&pageSize=100000") as url:
    data = json.loads(url.read().decode())

In [ ]:
# For year and month
# https://biocache-ws.ala.org.au/ws/occurrences/search?q=year:2020&fq=class:Mammalia&fq=month:01

In [14]:
occurrences = data['occurrences']

In [15]:
len(occurrences)

4612

In [ ]:
# import csv
# data_file = open('data_file.csv', 'w') 
  
# # create the csv writer object 
# csv_writer = csv.writer(data_file) 
  
# # Counter variable used for writing  
# # headers to the CSV file 
# count = 0
  
# for emp in occurrences: 
#     if count == 0: 
  
#         # Writing headers of CSV file 
#         header = emp.keys() 
#         csv_writer.writerow(header) 
#         count += 1
  
#     # Writing data of CSV file 
#     csv_writer.writerow(emp.values()) 
  
# data_file.close()

In [35]:
import pandas as pd

In [36]:
occ_df = pd.DataFrame(occurrences)

In [37]:
occ_df.head()

,uuid,occurrenceID,raw_institutionCode,raw_collectionCode,raw_catalogNumber,taxonConceptID,eventDate,occurrenceYear,scientificName,vernacularName,...,collector,collectors,stateConservation,sensitive,dataProviderUid,dataProviderName,recordNumber,subspecies,subspeciesGuid,raw_vernacularName
0,0b4d3e7d-1d10-4195-ba10-c8d47a6e74dc,https://www.inaturalist.org/observations/38004314,iNaturalist,Observations,38004314,urn:lsid:biodiversity.org.au:afd.taxon:e9d6fbb...,1.580036e+12,1577836800000,Phascolarctos cinereus,Koala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,baa49e94-0993-43fb-9194-58bcd1616dd1,https://www.inaturalist.org/observations/40573771,iNaturalist,Observations,40573771,urn:lsid:biodiversity.org.au:afd.taxon:7de6b16...,1.584961e+12,1577836800000,Felis catus,Cat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1ed08b7b-011d-46c7-be56-57d69201f769,https://www.inaturalist.org/observations/41666114,iNaturalist,Observations,41666114,urn:lsid:biodiversity.org.au:afd.taxon:eef0db1...,1.586167e+12,1577836800000,LAGOMORPHA,NaN,...,Stephen Snow,"[Snow, S. Stephen]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,261c8182-71b1-476b-8c28-eb04fb2f93a3,https://www.inaturalist.org/observations/40286889,iNaturalist,Observations,40286889,urn:lsid:biodiversity.org.au:afd.taxon:462548c...,1.584443e+12,1577836800000,Notamacropus agilis,Agile Wallaby,...,Thomas Mesaglio,"[Mesaglio, T. Thomas]",Least Concern,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a30655a2-9598-4e8b-b139-b147fe146738,https://www.inaturalist.org/observations/38214404,iNaturalist,Observations,38214404,urn:lsid:biodiversity.org.au:afd.taxon:e9d6fbb...,1.580555e+12,1577836800000,Phascolarctos cinereus,Koala,...,Ben Revell,"[Revell, B. Ben]",Vulnerable,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
occ_df.columns

Index(['uuid', 'occurrenceID', 'raw_institutionCode', 'raw_collectionCode',
       'raw_catalogNumber', 'taxonConceptID', 'eventDate', 'occurrenceYear',
       'scientificName', 'vernacularName', 'taxonRank', 'taxonRankID',
       'country', 'kingdom', 'phylum', 'classs', 'order', 'family', 'genus',
       'genusGuid', 'species', 'speciesGuid', 'stateProvince',
       'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters',
       'year', 'month', 'basisOfRecord', 'raw_occurrenceRemarks', 'left',
       'right', 'lga', 'dataResourceUid', 'dataResourceName', 'assertions',
       'speciesGroups', 'image', 'images', 'geospatialKosher',
       'taxonomicKosher', 'raw_scientificName', 'raw_basisOfRecord', 'latLong',
       'point1', 'point01', 'point001', 'point0001', 'point00001', 'namesLsid',
       'multimedia', 'license', 'occurrenceDetails', 'rights', 'imageUrl',
       'largeImageUrl', 'smallImageUrl', 'thumbnailUrl', 'imageUrls',
       'collector', 'collectors', 'stateConservation', 'sensitive',
       'dataProviderUid', 'dataProviderName', 'recordNumber', 'subspecies',
       'subspeciesGuid', 'raw_vernacularName'],
      dtype='object')

In [39]:
occ_vic = occ_df[occ_df['stateProvince']=='Victoria']

In [40]:
len(occ_vic)

1089

In [41]:
occ_vic.head(10)

,uuid,occurrenceID,raw_institutionCode,raw_collectionCode,raw_catalogNumber,taxonConceptID,eventDate,occurrenceYear,scientificName,vernacularName,...,collector,collectors,stateConservation,sensitive,dataProviderUid,dataProviderName,recordNumber,subspecies,subspeciesGuid,raw_vernacularName
5,a5c12d1e-4be9-4311-a3ef-48a2d6d54c7a,https://www.inaturalist.org/observations/44548258,iNaturalist,Observations,44548258,urn:lsid:biodiversity.org.au:afd.taxon:e079f94...,1.588241e+12,1577836800000,Vombatus ursinus,Common Wombat,...,Reiner Richter,"[Richter, R. Reiner]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1e0c9686-96db-43ca-b977-5421c3a299ea,https://www.inaturalist.org/observations/41966594,iNaturalist,Observations,41966594,urn:lsid:biodiversity.org.au:afd.taxon:0d4c9c0...,1.578740e+12,1577836800000,Tachyglossus aculeatus,Short-beaked Echidna,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,dca86c08-f819-4e4e-b518-711f1ad2a82f,https://www.inaturalist.org/observations/40747210,iNaturalist,Observations,40747210,urn:lsid:biodiversity.org.au:afd.taxon:003decd...,1.584961e+12,1577836800000,Pseudocheirus peregrinus,Common Ringtail Possum,...,David Akers,"[Akers, D. David]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,fa2ec211-64b3-4a95-8250-e91535c107ef,https://www.inaturalist.org/observations/39790618,iNaturalist,Observations,39790618,urn:lsid:biodiversity.org.au:afd.taxon:2869ce8...,1.580900e+12,1577836800000,Vulpes vulpes,Fox,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,d06023c7-d12c-4288-bb46-67dd3481bb91,https://www.inaturalist.org/observations/39191517,iNaturalist,Observations,39191517,urn:lsid:biodiversity.org.au:afd.taxon:0d4c9c0...,1.580123e+12,1577836800000,Tachyglossus aculeatus,Short-beaked Echidna,...,Jordan Crooka,"[Crooka, J. Jordan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,78aa28f5-cf97-4985-82fa-8832d9ef6e1a,https://www.inaturalist.org/observations/38048141,iNaturalist,Observations,38048141,urn:lsid:biodiversity.org.au:afd.taxon:2869ce8...,1.578049e+12,1577836800000,Vulpes vulpes,Fox,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,cd556957-0a29-48d8-a6d5-d68a7f16a782,https://www.inaturalist.org/observations/43290485,iNaturalist,Observations,43290485,urn:lsid:biodiversity.org.au:afd.taxon:23f4784...,1.587809e+12,1577836800000,Macropus giganteus,Eastern Grey Kangaroo,...,Rod Lowther,"[Lowther, R. Rod]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1cf6da6d-f347-4872-85b9-cc0f56ea48fc,https://www.inaturalist.org/observations/39638032,iNaturalist,Observations,39638032,urn:lsid:biodiversity.org.au:afd.taxon:751e662...,1.582888e+12,1577836800000,Axis porcinus,Hog Deer,...,Diana Droog,"[Droog, D. Diana]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,813d2631-19aa-41b4-876a-01ba5dbb1b60,https://www.inaturalist.org/observations/41843768,iNaturalist,Observations,41843768,urn:lsid:biodiversity.org.au:afd.taxon:6899d62...,1.583838e+12,1577836800000,Tachyglossus aculeatus aculeatus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tachyglossus aculeatus aculeatus,urn:lsid:biodiversity.org.au:afd.taxon:6899d62...,NaN
45,eb2aa74d-784b-4800-b738-a6dc1232f730,https://www.inaturalist.org/observations/39790495,iNaturalist,Observations,39790495,urn:lsid:biodiversity.org.au:afd.taxon:e079f94...,1.582542e+12,1577836800000,Vombatus ursinus,Common Wombat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
occ_vic.vernacularName.value_counts()

Fox                          158
Eastern Grey Kangaroo        140
Swamp Wallaby                136
Short-beaked Echidna          99
Common Ringtail Possum        99
Koala                         49
Bush Rat                      40
Common Brushtail Possum       39
Common Wombat                 38
Southern Brown Bandicoot      29
Platypus                      22
Rabbit                        20
Mountain Brushtail Possum     16
Grey-headed Flying-fox        15
Sugar Glider                  13
Black Rat                     11
Water-rat                     11
Australian Fur-seal            7
Brush-tailed Phascogale        6
Little Red Flying-fox          6
Squirrel Glider                6
Fallow Deer                    6
Greater Glider                 5
Western Grey Kangaroo          3
Yellow-footed Antechinus       3
Agile Antechinus               3
Lesser Long-eared Bat          3
House Mouse                    3
Mammals                        2
eared seals                    2
Chocolate Wattled Bat          2
Goat                           2
Swamp Rat                      2
Feathertail Glider             1
Yellow-bellied Glider          1
Gould's Long-eared Bat         1
Brown Rat                      1
Gould's Wattled Bat            1
Long-nosed Fur Seal            1
bottle-nosed dolphin           1
Mountain Pygmy-possum          1
Australian Sea-lion            1
Heath Rat                      1
Eastern False Pipistrelle      1
Marsupials                     1
dolphins                       1
Red Deer                       1
Hog Deer                       1
Smoky Mouse                    1
Swamp Antechinus               1
Name: vernacularName, dtype: int64

In [43]:
occ_vic['thumbnailUrl'].isna()

5       False
7       False
16      False
21       True
22      False
        ...
4570    False
4582    False
4585    False
4590    False
4594     True
Name: thumbnailUrl, Length: 1089, dtype: bool

In [44]:
occ_vic_imgs = occ_vic[~occ_vic['thumbnailUrl'].isna()]

In [45]:
occ_vic.iloc[1,:]

uuid                                1e0c9686-96db-43ca-b977-5421c3a299ea
occurrenceID           https://www.inaturalist.org/observations/41966594
raw_institutionCode                                          iNaturalist
raw_collectionCode                                          Observations
raw_catalogNumber                                               41966594
                                             ...
dataProviderName                                                     NaN
recordNumber                                                         NaN
subspecies                                                           NaN
subspeciesGuid                                                       NaN
raw_vernacularName                                                   NaN
Name: 7, Length: 69, dtype: object

In [46]:
len(occ_vic)

1089

In [47]:
len(occ_vic['uuid'].unique())

1089

In [48]:
for i,j in enumerate(occ_vic.iloc[1,:]):
    print(occ_vic.columns[i],'------>',j)

uuid ------> 1e0c9686-96db-43ca-b977-5421c3a299ea
occurrenceID ------> https://www.inaturalist.org/observations/41966594
raw_institutionCode ------> iNaturalist
raw_collectionCode ------> Observations
raw_catalogNumber ------> 41966594
taxonConceptID ------> urn:lsid:biodiversity.org.au:afd.taxon:0d4c9c0c-51d3-44e0-a365-fe0f8b791c66
eventDate ------> 1578740400000.0
occurrenceYear ------> 1577836800000
scientificName ------> Tachyglossus aculeatus
vernacularName ------> Short-beaked Echidna
taxonRank ------> species
taxonRankID ------> 7000
country ------> Australia
kingdom ------> Animalia
phylum ------> Chordata
classs ------> Mammalia
order ------> Monotremata
family ------> Tachyglossidae
genus ------> Tachyglossus
genusGuid ------> urn:lsid:biodiversity.org.au:afd.taxon:b0791b23-8d6b-4239-979d-9e100f123010
species ------> Tachyglossus aculeatus
speciesGuid ------> urn:lsid:biodiversity.org.au:afd.taxon:0d4c9c0c-51d3-44e0-a365-fe0f8b791c66
stateProvince ------> Victoria
decimalLatitude ------> -36.9481278908
decimalLongitude ------> 145.8372836641
coordinateUncertaintyInMeters ------> 42.0
year ------> 2020
month ------> 01
basisOfRecord ------> HumanObservation
raw_occurrenceRemarks ------> nan
left ------> 203762
right ------> 203770
lga ------> Mansfield (S)
dataResourceUid ------> dr1411
dataResourceName ------> iNaturalist Australia
assertions ------> ['assumedPresentOccurrenceStatus', 'geodeticDatumAssumedWgs84', 'countryInferredByCoordinates']
speciesGroups ------> ['Animals', 'Mammals']
image ------> 349b101b-8526-42b4-8b86-a9993cfd38e8
images ------> ['349b101b-8526-42b4-8b86-a9993cfd38e8']
geospatialKosher ------> true
taxonomicKosher ------> true
raw_scientificName ------> Tachyglossus aculeatus
raw_basisOfRecord ------> HumanObservation
latLong ------> -36.9481278908,145.8372836641
point1 ------> -37,146
point01 ------> -36.9,145.8
point001 ------> -36.95,145.84
point0001 ------> -36.948,145.837
point00001 ------> -36.9481,145.8373
namesLsid ------> Tachyglossus aculeatus|urn:lsid:biodiversity.org.au:afd.taxon:0d4c9c0c-51d3-44e0-a365-fe0f8b791c66|Short-beaked Echidna|Animalia|Tachyglossidae
multimedia ------> ['Image']
license ------> CC-BY-NC-Int
occurrenceDetails ------> https://www.inaturalist.org/observations/41966594
rights ------> © cjb52some rights reserved
imageUrl ------> https://images.ala.org.au/image/proxyImage?imageId=349b101b-8526-42b4-8b86-a9993cfd38e8
largeImageUrl ------> https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=349b101b-8526-42b4-8b86-a9993cfd38e8
smallImageUrl ------> https://images.ala.org.au/image/proxyImageThumbnail?imageId=349b101b-8526-42b4-8b86-a9993cfd38e8
thumbnailUrl ------> https://images.ala.org.au/image/proxyImageThumbnail?imageId=349b101b-8526-42b4-8b86-a9993cfd38e8
imageUrls ------> ['https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=349b101b-8526-42b4-8b86-a9993cfd38e8']
collector ------> nan
collectors ------> nan
stateConservation ------> nan
sensitive ------> nan
dataProviderUid ------> nan
dataProviderName ------> nan
recordNumber ------> nan
subspecies ------> nan
subspeciesGuid ------> nan
raw_vernacularName ------> nan

In [49]:
occ_vic.to_csv('occ_vic.csv', index = False)

In [50]:
c= '''

The best way to identify a Crested Pigeon
is to look for a crest of feathers, similar to
a mohawk, on their head. While looking
somewhat similar, a non-native domestic
pigeon has a smooth head (no crest/
mohawk). A Spotted Turtle Dove has a
white collar with black spots on the back
of their necks, and does not have the
crest/mohawk either.

'''

In [51]:
c.split('\n\n')

['',
 'The best way to identify a Crested Pigeon\nis to look for a crest of feathers, similar to\na mohawk, on their head. While looking\nsomewhat similar, a non-native domestic\npigeon has a smooth head (no crest/\nmohawk). A Spotted Turtle Dove has a\nwhite collar with black spots on the back\nof their necks, and does not have the\ncrest/mohawk either.',
 '']

In [52]:
c_1 = c.split('\n\n')

In [53]:
for i in c_1:
    if i!='':
        print('**',i, '**')

** The best way to identify a Crested Pigeon
is to look for a crest of feathers, similar to
a mohawk, on their head. While looking
somewhat similar, a non-native domestic
pigeon has a smooth head (no crest/
mohawk). A Spotted Turtle Dove has a
white collar with black spots on the back
of their necks, and does not have the
crest/mohawk either. **

In [54]:
test_x = '''4
apple 12
bannana 20
orange 14
pear 77
bannana 56
'''

In [55]:
test_x

'4\napple 12\nbannana 20\norange 14\npear 77\nbannana 56\n'

In [56]:
test_x.split('\n')[0]

'4'

In [57]:
dict_1 = {'a':1, 'b':2, 'c':3}

In [58]:
list(dict_1.keys())

['a', 'b', 'c']

In [59]:
min([1,2,3])

1

In [60]:
from sys import stdin

In [61]:
T = input(stdin.readline())

1

In [ ]:
for i in T.split('\n'):
    print(i)

In [ ]:
T.split('\n')

In [ ]:
type(T)

In [ ]:
stdin.readline()

In [ ]:
test_x.split('\n')

In [ ]:
test_y = '''2

5
apple 12
bannana 20
orange 14
pear 77
bannana 56
6
apple 12
bannana 20
orange 14
apple 34
orange 43
bannana 35
'''

In [ ]:
list_y = test_y.split('\n\n')

In [62]:
for i in range(int(list_y[0])):
    for j in range()

SyntaxError: invalid syntax (<ipython-input-62-3c6b860e7f3b>, line 2)

In [ ]:
# occ_vic.decimalLatitude
# occ_vic.decimalLongitude

In [63]:
import folium

ModuleNotFoundError: No module named 'folium'

In [ ]:
# import folium
# m = folium.Map([-37.8136, 144.9631], zoom_start = 4.3)
# m

In [ ]:
for index, row in occ_vic.iterrows():
    folium.Marker([row['decimalLatitude'], row['decimalLongitude']],
              tooltip=row['vernacularName'],              
             ).add_to(m)
m

In [ ]:
m.save(outfile = 'sightings_2020.html')

In [ ]:
# from shapely.geometry import Polygon

# lat_point_list = [50.854457, 48.853033, 52.518172, 50.072651, 50.854457]
# lon_point_list = [4.377184, 2.349553, 13.407759, 14.435935, 4.377184]

# polygon_geom = Polygon(zip(lon_point_list, lat_point_list))
# polygon_geom2 = polygon_geom.convex_hull # the atribute
# import folium
# m = folium.Map([50.854457, 4.377184], zoom_start=5)
# folium.GeoJson(polygon_geom).add_to(m)
# folium.GeoJson(polygon_geom2).add_to(m)
# folium.LatLngPopup().add_to(m)
# m

In [65]:
species_vic_inc = pd.read_excel('species_vic_inclusive_converted.xlsx')

In [66]:
species_vic_inc

,OBJECTID,Shape_Leng,Shape_Area,listed_id,map_id,sci_name,comm_name,threatened,migratory,pres_rank,...,tax_order,tax_class,tax_phylum,tax_king,other_ids,cell_size,regions,attributio,sprat_prof,geometry
0,35,803.88,1340.4448,36,36,Balaenoptera musculus,Blue Whale,Endangered,Migratory,2,...,Cetacea,Mammalia,Chordata,Animalia,NaN,0.01,NT; CI; QLD; NSW; TAS; VIC; WA; ACI; CSI; SA; ...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,"MULTIPOLYGON (((153.22 -68.34999999999997, 153..."
1,36,396.02,373.2306,36,36,Balaenoptera musculus,Blue Whale,Endangered,Migratory,1,...,Cetacea,Mammalia,Chordata,Animalia,NaN,0.01,NT; CI; QLD; NSW; TAS; VIC; WA; ACI; CSI; SA; ...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((133.5100000000001 -32.13999999...
2,43,400.30,265.6278,40,40,Eubalaena australis,Southern Right Whale,Endangered,NaN,2,...,Cetacea,Mammalia,Chordata,Animalia,75529,0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; HMI; AAT; JBT...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((159.0400000000001 -50.99999999...
3,44,696.52,964.8850,40,40,Eubalaena australis,Southern Right Whale,Endangered,NaN,1,...,Cetacea,Mammalia,Chordata,Animalia,75529,0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; HMI; AAT; JBT...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((142.0500000000001 -63.43999999...
4,84,8.06,0.6568,77,77,Pseudomys shortridgei,"Heath Mouse, Dayang, Heath Rat",Endangered,NaN,2,...,Rodentia,Mammalia,Chordata,Animalia,NaN,0.01,VIC; WA; SA,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((141.1599999990001 -37.38999999...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,1276,129.14,3.5489,59300,59300,Xenus cinereus,Terek Sandpiper,NaN,Migratory,2,...,Charadriiformes,Aves,Chordata,Animalia,834,0.01,NT; QLD; NSW; VIC; WA; SA,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((147.5400000000001 -42.94999999...
558,1602,299.04,328.8335,89224,64697,Thalassarche cauta,Tasmanian Shy Albatross,NaN,Migratory,2,...,Procellariiformes,Aves,Chordata,Animalia,"25995,64697,82345,89247",0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; JBT; CMA,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((156.8199999990001 -52.99999999...
559,1603,155.10,128.6587,89224,64697,Thalassarche cauta,Tasmanian Shy Albatross,NaN,Migratory,1,...,Procellariiformes,Aves,Chordata,Animalia,"25995,64697,82345,89247",0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; JBT; CMA,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((159.0000000000001 -52.99999999...
560,3086,489.56,607.9776,64462,64462,Thalassarche steadi,White-capped Albatross,NaN,Migratory,2,...,Procellariiformes,Aves,Chordata,Animalia,82344,0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; HMI; AAT; JBT...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,"MULTIPOLYGON (((159.22 -51.01999999999998, 159..."
561,3087,314.04,330.2507,64462,64462,Thalassarche steadi,White-capped Albatross,NaN,Migratory,1,...,Procellariiformes,Aves,Chordata,Animalia,82344,0.01,QLD; NSW; TAS; VIC; WA; CSI; SA; HMI; AAT; JBT...,Species 1km Grids August 2019 Canberra: Depart...,http://www.environment.gov.au/cgi-bin/sprat/pu...,MULTIPOLYGON (((48.49999999900007 -62.22999999...

In [67]:
list_geoms = []
for i in species_vic_inc['geometry']:
    list_geoms.append(i)

In [68]:
# list_geoms

In [69]:
import shapely

In [70]:
list_polygons =  [shapely.wkt.loads(poly) for poly in list_geoms]
list_polygons[0]

ParseException: Expected number but encountered end of stream

WKTReadingError: Could not create geometry because of errors while reading input.

In [ ]:
from shapely import wkt
species_vic_inc['geometry'] = species_vic_inc['geometry'].apply(wkt.loads)

In [33]:
from geopandas import GeoDataFrame
from shapely.geometry import Point

# geometry = [Point(xy) for xy in zip(df.Lon, df.Lat)]
# df = df.drop(['Lon', 'Lat'], axis=1)
crs = {'init': 'epsg:4326'}
species_vic_inc_gdf = GeoDataFrame(species_vic_inc, crs=crs, geometry = species_vic_inc.geometry)

NameError: name 'species_vic_inc' is not defined

In [71]:
import geopandas as gpd
import numpy as np
import json

# df = gpd.read_file('/home/bera/geodata/Rectangle_with_hole.shp')
g = json.loads(vic_state_b_1.to_json())

# coords = np.array(g['features'][0]['geometry']['coordinates'])

NameError: name 'vic_state_b_1' is not defined

In [ ]:
type(species_vic_inc_gdf)

In [ ]:
species_vic_inc_gdf_mam = species_vic_inc_gdf[species_vic_inc_gdf.tax_class=='Mammalia']

In [ ]:
species_vic_inc_gdf_mam.threatened.unique()

In [ ]:
species_vic_inc_gdf_mam_1 = species_vic_inc_gdf_mam[~species_vic_inc_gdf_mam.threatened.isnull()]

In [ ]:
species_vic_inc_gdf_mam_1.comm_name.value_counts()

In [ ]:
species_vic_inc_gdf_mam_1[species_vic_inc_gdf_mam_1.comm_name == 'Brush-tailed Rock-wallaby'].geometry

In [ ]:
species_vic_inc_gdf_mam_1.plot()

In [ ]:
species_vic_inc_gdf_mam_1.plot()

In [ ]:
gpd_1 = GeoDataFrame(species_vic_inc_mammals_1.loc[[239],'geometry'])

In [ ]:
gpd_1.plot()

In [ ]:
species_vic_inc_mammals_1.plot()

In [ ]:
from shapely.geometry import Polygon

# lat_point_list = [50.854457, 48.853033, 52.518172, 50.072651, 50.854457]
# lon_point_list = [4.377184, 2.349553, 13.407759, 14.435935, 4.377184]

polygon_geom = gpd_1.geometry
polygon_geom2 = polygon_geom.convex_hull # the atribute
import folium
m = folium.Map([50.854457, 4.377184], zoom_start=5)
folium.GeoJson(polygon_geom).add_to(m)
folium.GeoJson(polygon_geom2).add_to(m)
folium.LatLngPopup().add_to(m)
m

In [ ]:
species_vic_vul = pd.read_csv('species_vul_vic.csv')

In [ ]:
import mysql.connector

In [ ]:
## Connecting to the database

## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "localhost",
    port = "3307",
    user = "root",
    passwd = "Strong1089"
)

print(db)

In [ ]:
cursor = db.cursor()

In [ ]:
cursor.execute("CREATE DATABASE datacamp")

In [ ]:
cursor.execute('SHOW DATABASES')

In [ ]:
databases = cursor.fetchall()

In [ ]:
databases

In [ ]:
db = mysql.connect(
    host = "localhost",
    port = "3307",
    user = "root",
    passwd = "Strong1089",
    database = "test_with_blob"
)

print(db)

In [ ]:
cursor = db.cursor()

In [ ]:
cursor.execute("SHOW TABLES")

In [ ]:
cursor.fetchall()

In [ ]:
species_vic_vul

In [ ]:
species_vic_also = gpd.read_file('species_vic_also.shp')

In [ ]:
species_vic_also

In [ ]:
species_vic_vul_geom = species_vic_also[species_vic_also['OBJECTID'].isin(species_vic_vul['objectid'])]

In [ ]:
species_vic_vul_geom_1 = species_vic_vul_geom[['OBJECTID', 'geometry']].copy()

In [ ]:
species_vic_vul_geom_1

In [ ]:
query = "SELECT * FROM species_vul_vic"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

In [ ]:
records

In [ ]:
list((species_vic_vul_geom_1.OBJECTID, species_vic_vul_geom_1.geometry))

In [ ]:
list_demo = [tuple(r) for r in species_vic_vul_geom_1.to_numpy().tolist()]

In [ ]:
list_mulp = []
for i in species_vic_vul_geom_1.geometry:
    list_mulp.append(i)

In [ ]:
## defining the Query
query = "INSERT INTO geom_second (object_id, geom_col) VALUES (%s, %s)"
## storing values in a variable
# values = [
#     ("Peter", "peter"),
#     ("Amy", "amy"),
#     ("Michael", "michael"),
#     ("Hennah", "hennah")
# ]

## executing the query with values
cursor.executemany(query, list_demo)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

In [ ]:
[list_demo[0][0], list_demo[0][1]]

In [ ]:
sql = '''
   INSERT INTO geom_second (objectid, geom_col)
   VALUES (%s, ST_GeomFromText(%s, 4326))'''
params = [list_demo[0][0], list_demo[0][1]]
cursor.execute(sql, params)

In [ ]:
species_vic_vul_geom_1.to_excel('species_vic_vul_geom_1.xlsx', index = False, encoding='utf8')

In [ ]:
## Connecting to the database

## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "database-1.cxbwakh5ffez.us-east-1.rds.amazonaws.com",
    port = "3306",
    user = "admin",
    passwd = "mysql1234",
    database = "test_schema"
)

print(db)

In [ ]:
cursor = db.cursor()

In [ ]:
import pandas as pd

In [ ]:
csv_data[csv_data.id == 6671]

In [ ]:
csv_data = pd.read_csv('suburb_affected_area.csv')
# i=0
# for row in csv_data.iterrows():
# #     print(row[1].values)

#     cursor.execute('INSERT INTO suburb_area(id, \
#           suburb, neighboring_suburbs, areas, percent_affected, bushfire_affected )' \
#           'VALUES("%s", "%s", "%s", "%s", "%s", "%s")', 
#           row)
#     print(i)
#     i+=1
j = 0
for row in csv_data.iterrows():
    list = row[1].values
    cursor.execute('INSERT INTO suburb_area(id, \
          suburb, neighboring_suburbs, areas, percent_affected, bushfire_affected ) VALUES("%s", "%s", "%s", "%s", "%s", "%s")' % tuple(list))
    print(j)
    j+=1

#close the connection to the database.
mydb.commit()
cursor.close()
print ("Done")

In [ ]:
db.close()